Repository JSBSim-Team/jsbsim, pull requests merged in 2023-02, with the labels that each got.

#820 Improvements to the Python examples
  examples/python/PlotAoaVsCAS.py
  examples/python/TrimEnvelope.py
Labels: Python

#827 UnrealEngine TurboProp Plane implementation Fixes
  UnrealEngine/Plugins/JSBSimFlightDynamicsModel/Source/JSBSimFlightDynamicsModel/Private/JSBSimMovementComponent.cpp
Labels: bug, Unreal Engine

#830 Fix actuator printout
  src/models/flight_control/FGActuator.cpp
Labels: bug
