Repository JSBSim-Team/jsbsim, pull requests merged in 2025-02, with the labels that each got.

#1231 Ubuntu update for CI workflows
  .github/workflows/cpp-python-build.yml
Labels: Obsolescence

#1229 Fix locale dependent number parsing
  src/FGJSBBase.h
  src/JSBSim.cpp
  src/initialization/FGInitialCondition.cpp
  src/input_output/FGInputSocket.cpp
  src/input_output/FGOutputSocket.cpp
  src/input_output/FGOutputTextFile.cpp
  src/input_output/FGScript.cpp
  src/input_output/FGUDPInputSocket.cpp
  src/input_output/FGXMLElement.cpp
  src/input_output/FGfdmSocket.cpp
  src/input_output/string_utilities.cpp
  src/input_output/string_utilities.h
  src/math/FGFunction.cpp
  src/math/FGParameterValue.h
  src/math/FGTable.cpp
  src/models/FGInput.cpp
  src/models/FGOutput.cpp
  src/models/flight_control/FGSwitch.cpp
  src/models/propulsion/FGRotor.cpp
  src/models/propulsion/FGTurbine.cpp
  tests/unit_tests/StringUtilitiesTest.h
Labels: bug

#1240 UE5 fix command console issue
  UnrealEngine/Plugins/JSBSimFlightDynamicsModel/Source/JSBSimFlightDynamicsModel/Private/JSBSimMovementComponent.cpp
Labels: Unreal Engine

#1234 Revert the FlightGear network protocol to v24
  data_output/flightgear.xml
  src/input_output/FGOutputFG.cpp
  src/input_output/FGOutputFG.h
  src/input_output/net_fdm.hxx
Labels: bug, FlightGear interface
