Repository JSBSim-Team/jsbsim, pull requests merged in 2025-05, with the labels that each got.

#1280 Add a thrust vectoring python script example
  README.md
  examples/python/AoA vs CAS.ipynb
  examples/python/PlotAoaVsCAS.py
  examples/python/Rudder Kick.ipynb
  examples/python/RudderKick.py
  examples/python/Thrust Vectoring Analysis.ipynb
  examples/python/Trim Envelope.ipynb
  examples/python/TrimEnvelope.py
Labels: Python

#1286 [skip ci] Update Python module installation instructions
  doc/DevelopersDocs.md
Labels: documentation

#1287 Fix type hinting for the Python module
  .github/workflows/cpp-python-build.yml
  python/__init__.py
  python/cython.lark
  python/jsbsim.pyx.in
  python/pyxstubgen.py
Labels: Python

#1292 Upgrade from windows-2019 to windows-latest
  .github/workflows/cpp-python-build.yml
Labels: GitHub Actions
